/* styles/About.css */
.about-container {
    max-width: 80vw;
    margin: 0 auto;
    padding:3rem;
  }
  
  h2 {
    color: #3a3d44;
  }
  
  .about-items {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .about-items img {
    height: auto;
    max-width: 50%; /* Adjust the width as needed */
    margin:3rem;
  }
  
  p {
    text-align: justify;
    flex-grow: 1; /* Allow the paragraph to take the remaining space */
  }
  